/* header */
main {
    margin: 0 100px;
}
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    padding: 0 50px;
}
.photograph-header img {
    width: 200px;
    height: 200px;
}
.photograph-header h1 {
    color: var(--color-primary-lighter) ;
    font-size: 50px;
    margin: 0;
}
.photograph-header .location {
    color: var(--color-secondary-darker);
    font-size: 25px;
    margin: 0;
}
.photograph-header .tagline {
    color: var(--color-secondary-discreet-darker);
}

/* photograph-photos */
.photograph-photos nav {
    margin: 20px 0;
    font-weight: bold;
}
.photograph-photos nav select {
    border: 0;
    background-color: var(--color-primary-darker);
    color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px grey;
    font-weight: bold;
}
.photograph-photos nav select option {
    border-bottom: 1px solid #FAFAFA ;
}
.photograph-photos-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 20px;
}
.photograph-photos-list article{
    width: 350px;
    object-fit: cover;
    margin-top: 20px;
}
.photograph-photos-list article>button {
    border: 0;
    background-color: transparent;
}
.photograph-photos-list img,.photograph-photos-list .video {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.photograph-photos-list .descr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-primary-darker);
    font-size: 20px;
}
.photograph-photos-list .descr p {
    margin: 0;
}
.photograph-photos-list .likes {
    display: flex;
    align-items: center;
    font-size: 18px;
}
.photograph-photos-list .likes-img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    filter: invert(12%) sepia(63%) saturate(3008%) hue-rotate(346deg) brightness(115%) contrast(94%);
}

/* contact */

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
/* additional infos*/

.additional_infos {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 35px;
    border-radius: 5px 5px 0 0 ;
    padding: 10px 20px;
    background-color: var(--color-secondary-lighter)
}
.additional_infos p {
    display: flex;
    align-items: center;
    margin: 0 10px;
    font-size: 20px;
}
.additional_infos p .likes-img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

/* light modal */
.light-modal {
    display: none;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}
.light-modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: max-content;
}
.light-modal-content {
    display: flex;
    align-items: center;
} 
.light-modal-container button {
    cursor: pointer;
}
.light-modal-media {
    width: 950px;
    height: 800px;
}
.light-modal-media img, .light-modal video {
 width: inherit;
 height: inherit;
 object-fit: cover;
 border-radius: 5px;

}
.light-modal-arrows {
    border: 0;
    background: transparent;
    width: 50px;
    height: 50px;
}
.light-modal-arrows:nth-child(2){
    transform: rotate(180deg);
}
.light-modal-close {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
}
.light-modal-close img {
    width: 30px;
    height: 30px            ;
    filter: brightness(0);
}
/* modal */
#contact_modal {
    position: fixed;
    inset: 0;
    background-color: rgba(128, 128, 128, 0.5);
    display: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    padding: 35px;
    margin: auto;
}

.modal header {
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center; 
    display: flex;
    flex-direction: column;
}
.modal-close {
    border: none;
    background-color: transparent;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input, form textarea {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 20px;
}
form input {
    height: 68px;
}
form textarea {
    height: 170px;
}